@font-face {
  font-family: 'wigrum';
      src: url('/fonts/wigrum.otf');
  }

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
}
html {
    width: 100%;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

@media screen and (max-width: 580px) {
  html {
    font-size: 50%;
  }
}

/* @media screen and (max-width: 500px) {
  html {
    font-size: 40%;
  }
} */

:root {
  --white: #fff;
  --blue: #2860E1;
  --dark: rgba(7,8,11,1);
  --red: rgba(255,46,106,1);
  --yellow: rgba(249,160,0,1);
  --inputBlue: rgba(17,20,28,1);
 --gradient: 'linear-gradient(rgba(5,85,255,1), rgba(255,46,106,1))',

}

body {
  color: var(--white);
  font-family: "Wigrum";
  font-size: 1rem;
}



.form-group {
  min-width: 600px;
  
}
@media (max-width: 601px) {
  .form-group {
    margin: 30px 0;
    min-width: auto;
    width: 90%;
  }
}

.logo {
  width: 120px;
  object-fit: contain;
}
.container {
  max-width: 1300px;
}

.top-section {
  background:  top left / 200px 200px repeat  url('/big-circle.png');
  position: relative;
}
.top-section:before {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  position: absolute;
  background: var(--dark);
  z-index: 1;
  opacity: 0.6;
}

.gradient-text {
  background: linear-gradient(rgba(5,85,255,1), rgba(255,46,106,1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form {
  background: url('/form-bg.png') ;
  min-height: 700px;
  background-attachment: fixed;
}

@media screen and (max-width: 500px) {
  .form {
    min-height: 500px;
  }
}

.icon {
  z-index: 12  !important;
  
}
@media(max-width: 600px) {
  .icon {
    display: none;
  }
}

.icon-absolute {
  position: absolute;
  width: 80px;
  height: 80px;
 
}

.icon-money {
    top: -100px  !important;
    left: -170px  !important;
}

.icon-book {
  left: 100px  !important;
  bottom: -120px  !important;
}

.icon-money-bag {
  top: -120px  !important;
  right: -80px  !important;
}

.icon-aero {
  bottom: 100px  !important;
  right: -250px  !important;
 
}

.feature-img {
  position: relative;
}

.feature-img img {
  z-index: 40;
  position: relative;

}
.feature-img:after {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  filter: blur(400px);

}

@media( max-width: 600px){
  .feature-img:after {
    /* width: 200px;
    height: 200px; */
    display: none;
  }
  .feature-img.red:after, .feature-img.blue:after, .feature-img.yellow:after {
    right: unset;
    left: 0;
  }
}

.feature-img.red:after {
  background-color: var(--red);
  right: -50%;
}

.feature-img.blue:after {
  background-color: var(--blue);
  left: -50%;
}

.feature-img.yellow:after {
  background-color: var(--yellow);
  right: -50%;
}

.top-text-container {
  min-height: 50vh;
}
@media(max-width: 767px) {
  .top-text-container {
    min-height: auto;
  }
}

.text-white {
  color: #fff  !important;
  font-family: 'Wigrum';
}

.menu-flags {
  background-color: rgba(17,20,28,1);
  border-radius: 0.75rem;
  height: 60px;
}

.menu-flags  button {
  border: none;
  font-size: 2rem !important;
}

.menu-flags  button:focus {
  border: none;
  outline: none;
}

.menu-flags input, .menu-flags .ReactFlagsSelect-module_filterBox__3m8EU {
  background-color:  var(--inputBlue);
}

.menu-flags:focus-within {
  border: 1px solid var(--blue);
}
.menu-flags ul {
  background-color: var(--inputBlue);
  color: var(--white);
  border: none;
}
.menu-flags .ReactFlagsSelect-module_label__27pw9 {
  color: var(--white);
  
}
.menu-flags li:hover span {
  color: var(--inputBlue);
}
.menu-flags .ReactFlagsSelect-module_selectBtn__19wW7:after {
  border-top: 5px solid #fff;
}

.menu-flags .ReactFlagsSelect-module_selectValue__152eS {
  color: #A1A1AA;
  padding-top: 5px;
}

.input{
  border: 1px solid transparent;
  transition: 200ms ease;
  height: 60px;
}
.input:focus {
  border-color: var(--blue);
}
.btn{
  transition: 200ms ease;
}
@media (max-width: 600px) {
  .btn {
    font-size: 14px;
  }
  p {
    font-size: 14px;
  }
}
.btn:focus{
  outline: none;
}
.btn:hover {
  box-shadow: 4px 4px rgba(5, 85, 255, 0.4)
}

.input-error {
  position: absolute;
  font-size: 1rem;
  color: var(--red);
  margin-top: 5px;
}


.hamburger{
  display: none;
}
.hamburger:focus{
  outline: none;
}
.mobile-nav {
  opacity: 0;
  pointer-events: none;;
  position: fixed;
  top: 0px;
  bottom: 0;
  right: 0;
  background-color: var(--dark);
  left: 0;
  padding: 20px;
  transition: opacity 500ms ease;
}

.mobile-border{
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
}
@media(max-width: 600px) {
    .btn-access {
      display: none;
    }
    .hamburger {
      display: inline-block
    }
     .mobile-nav.active  {
      opacity: 1;
      pointer-events: all;
      z-index: 70;
    }
}

